:root {
    --primary-color: #8a2be2;
    --secondary-color: #4b0082;
}

* {
    font-family: 'vazirmatn', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    min-height: 100%;
    color: #fff;
    background: linear-gradient(135deg, #1b1824, #221c2e);
    box-sizing: border-box;
    max-width: 100%;
}

header {
    background: rgb(68, 12, 68);
    height: 55px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
}

.container p {
    font-size: 1.1rem;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.home a {
    text-decoration: none;
    color: #fff;
}

.home img {
    width: 100px;
    height: 100px;
    margin: 12px -25px 0px 0px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-direction: flex-start;
}

.profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-name {
    margin-right: 5px;
}

.searchBox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search {
    direction: ltr;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(18px) saturate(180%);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 5px 0 5px 10px;
}

.searchButton img {
    height: 30px;
    width: 30px;
    margin: 7px 0px 0 2px;
}

.searchButton button {
    padding: unset;
    border: none;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    margin: -22px -14px 0px -5px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

input {
    border: none;
    width: 150px;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    padding-right: 22px;
}

input::placeholder {
    color: #b4b4b4;
}

input:focus-visible {
    border: none;
    outline: none;
}

.buy {
    display: flex;
    flex-direction: row;
    margin: 0 20px 2px 0;
}

.buy span {
    margin-top: 2px;
}

.buy a {
    text-decoration: none;
    color: #fff;
}

.bi-bi-bag {
    margin: 5px 0 0px 05px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    height: 300px;
    margin-top: 100px;
}

.coloredBox {
    background-color: #221c2e;
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.container2 h2 {
    margin-bottom: 10px;
}

.container2 p {
    margin-bottom: 20px;
}

.gameimg img {
    height: 400px;
    width: 325px;
    border-radius: 10px;
    box-shadow: 0 0 20px 5px rgb(255, 255, 0, 0.1);
}

.pbtn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

select, .pbtn button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

select option {
    background-color: #1b1824;
}

.pbtn button {
    background: linear-gradient(45deg, var(--secondary-color), var(--primary-color));
    border: none;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.pbtn button:hover {
    background: linear-gradient(45deg, var(--primary-color), var(--secondary-color));
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(138, 43, 226, 0.5);
}

.pbtn button:active {
    transform: translateY(0);
}