:root {
    --primary: #1b1824;
    --secondary: #221c2e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: vazirmatn;
}

body {
    background: linear-gradient(135deg, var(--secondary), var(--primary));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    width: 800px;
    max-width: 100%;
    display: flex;
    overflow: hidden;
}

.form-container {
    direction: rtl;
    width: 50%;
    padding: 40px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.input-box {
    position: relative;
    display: flex;
    direction: rtl;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    direction: ltr;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

.input-label {
    color: #777;
    position: absolute;
    margin-top: 20px;
    margin-right: 15px;
    transition: 0.25s;
    font-size: 1rem;
    pointer-events: none;
}

.form-container input:focus {
    border: 2px solid var(--primary);
    box-shadow: #764ba277 0 0 4px 1px;
    outline: none;
}

.form-container input:focus+.input-label {
    color: var(--primary);
    background-color: #fff;
    margin-top: 0px;
    padding: 0px 4px;
    font-size: 0.9rem;
}

.form-container button.submit-btn {
    margin-top: 13px;
    padding: 12px;
    border: none;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-container button.submit-btn:hover {
    background: linear-gradient(to left, var(--secondary), var(--primary));
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.toggle-container {
    width: 50%;
    background: linear-gradient(to bottom right, var(--secondary), var(--primary));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    position: relative;
}

.toggle-container h2 {
    margin-bottom: 20px;
}

.toggle-container p {
    margin-bottom: 20px;
}

.toggle-container button.switch-btn {
    padding: 8px 25px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 5px;
}

.toggle-container button.switch-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.forgot-password {
    color: var(--primary);
    margin-top: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    align-self: flex-start;
    text-decoration: underline;
}

.accept-terms-div {
    direction: rtl;
}

.accept-terms {
    margin: 10px 0 0;
    font-size: 0.9rem;
    user-select: none;
    color: #333;
    display: flex;
    align-items: center;
}

.accept-terms span {
    margin-bottom: 2px;
}

.accept-terms input[type="checkbox"] {
    margin: 0 8px 0 5px;
}

.wrapper-forgotpassword {
    width: 400px;
}

.form-container-forgotpassword {
    width: 100%;
}

@media (max-width:700px) {

    .wrapper {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .form-container {
        width: 100%;
    }

    .toggle-container {
        width: 100%;
    }
}

@media (max-width: 500px) {
    
    * {
        font-size: 0.9rem;
    }
    
     h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}