:root {
    --box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    --transition: all 0.3s ease;
}

* {
    font-family: 'vazirmatn';
    font-weight: 100;
    font-size: 1rem;
    font-weight: 400;
}

html,
body {
    min-height: 100%;
    color: #fff;
    background: linear-gradient(135deg, #1b1824, #221c2e);
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

header {
    background: rgb(68, 12, 68);
    height: 55px;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
}

.container p {
    font-size: 1.1rem;
}

.personal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.head {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.home a {
    text-decoration: none;
    color: #fff;
}

.home img {
    width: 100px;
    height: 100px;
    margin: 12px -25px 0px 0px;
}

.profile {
    display: flex;
    flex-direction: row;
    flex-direction: flex-start;
}

.profile a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.user-name {
    margin-right: 5px;
}

.searchBox {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.search {
    direction: ltr;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.35),
            rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(18px) saturate(180%);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    padding: 5px 0 5px 10px;
}

.searchButton img {
    height: 30px;
    width: 30px;
    margin: 7px 0px 0 2px;
}

.searchButton button {
    padding: unset;
    border: none;
    cursor: pointer;
    background-color: #fff;
    position: absolute;
    margin: -22px -14px 0px -5px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

input {
    border: none;
    width: 150px;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    padding-right: 22px;
}

input::placeholder {
    color: #b4b4b4;
}

input:focus-visible {
    border: none;
    outline: none;
}

.buy {
    display: flex;
    flex-direction: row;
    margin: 0 20px 2px 0;
}

.buy span {
    margin-top: 2px;
}

.buy a {
    text-decoration: none;
    color: #fff;
}

.bi-bi-bag {
    margin: 5px 0 0px 05px;
}

.glass {
    margin: 40px 15px 10px;
}

@media (max-width: 630px) {
    .searchBox {
        display: none;
    }
}

.glass,
.box,
.reason {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0.35),
            rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(18px) saturate(180%);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow:
        0 15px 35px rgba(0, 0, 0, 0.12),
        inset 0 1px 1px rgba(255, 255, 255, 0.4);
    color: #fff;
}

.box {
    margin: 15px 10px;
}

.container {
    text-align: right;
}

.animated-box {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    z-index: 100;
    animation: floating 4s ease-in-out infinite;
}

.animated-box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@keyframes floating {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.why {
    margin-top: 120px;
}

.whyText {
    margin-bottom: 80px !important;
}

main {
    margin-top: 150px;
}

h2 {
    font-size: 2rem;
}

.slider {
    margin-bottom: 40px !important;
}

@keyframes rgb {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

.rgb-text {
    text-align: center;
    font-size: 3rem;
    color: #fff;
    -webkit-text-stroke: 1px transparent;
    text-shadow:
        0 0 10px red,
        0 0 10px green,
        0 0 10px blue;
    animation: rgb 3s linear infinite;
    margin: 130px 5px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 4px 1fr;
    gap: 100px 30px;
    max-width: 900px;
    margin: 50px auto;
    position: relative;
    align-items: center;
}

.v-line {
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
    width: 4px;
    border-radius: 2px;
    grid-column: 2;
    grid-row: 4 / 1;
    height: 110%;
    box-shadow: 0 0 10px #00c6ff;
}

.grid-item {
    padding: 10px;
}

.item-right {
    grid-column: 1;
    text-align: left;
}

.item-left {
    grid-column: 3;
    text-align: right;
}

.reason-content h3 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
    font-weight: bold;
}

.reason-content p {
    font-size: 0.95rem;
    color: #ddd;
    line-height: 1.6;
    margin: 0;
}

@keyframes glow {

    0%,
    3% {
        filter: invert(100%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    3%,
    6% {
        filter: invert(50%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    6%,
    9% {
        filter: invert(100%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    9%,
    12% {
        filter: invert(50%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    12%,
    15% {
        filter: invert(100%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    15%,
    18% {
        filter: invert(50%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    18%,
    21% {
        filter: invert(100%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    21%,
    24% {
        filter: invert(50%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }

    24%,
    27% {
        filter: invert(100%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    }
}

.reason-icon {
    transition: filter 0.1s ease-in-out;
    animation: glow 3s infinite;
    width: 105px;
    height: auto;
    margin-left: auto;
    filter: invert(100%) drop-shadow(0 0 5px rgba(0, 198, 255, 0.5));
    animation-delay: 3s;
}

.reason-icon2 {
    animation-delay: 2s;
    width: 110px;
}

.reason-icon3 {
    animation-delay: 4s;
}

.reason1 img {
    height: 150px;
    width: 150px;
    margin-left: 20px;
}

/* ------------- */

.user-favorate-games-text {
    background: linear-gradient(135deg, #1b1824, #221c2e);
    width: 340px;
    height: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-favorate-games-text span {
    font-size: 2rem;
    font-weight: bold;
}

.user-favorate-games {
    background: linear-gradient(to right, green, red, blue);
    width: 350px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    z-index: 999;
    animation: RGB 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-favorate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px 0 0 0;
}

@keyframes RGB {
    100% {
        filter: hue-rotate(360deg);
    }
}

.floating-cards-section {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    height: 450px;
    direction: rtl;
}

.floating-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.rq {
    position: relative;
    width: 500px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin: 0 -40px;
    transform: scale(0.9) translateZ(0);
    z-index: 1;
    filter: brightness(0.7);
}

.rq.center-rq {
    transform: scale(1);
    z-index: 5;
    filter: brightness(1) grayscale(0%);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.rq img {
    width: 100%;
    height: 100%;
}

.floating-cards:hover .rq {
    transform: scale(0.9) translateX(0);
    filter: brightness(0.4) blur(2px);
    z-index: 1;
}

.floating-cards:hover .center-rq {
    z-index: 10;
}

.floating-cards .rq:hover {
    transform: scale(1.1) translateY(-10px) !important;
    filter: brightness(1) blur(0);
    margin: 0 45px;
    box-shadow: 0 10px 30px 5px rgba(31, 38, 135, 0.37);
    border: 2px solid #fff;
}

.floating-layer {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.5) 100%,
            transparent 100%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.content {
    direction: ltr;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 50px;
    color: white;
    transform: translateX(40px);
    transition: all 0.5s ease;
    opacity: 0;
    text-align: right;
    align-items: flex-end;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.content1 h2 {
    margin-bottom: -5px;
    text-align: center;
}

.content p {
    font-size: 1rem;
    max-width: 60%;
    margin-bottom: 20px;
    color: #fff;
    line-height: 1.6;
}

.content1 p {
    margin-bottom: 0px;
}

.rq:hover .floating-layer {
    opacity: 1;
}

.rq:hover .content {
    transform: translateX(0);
    opacity: 1;
}

.imageReveal {
    animation: imageReveal both;
    animation-timeline: view();
    animation-range: entry 0% cover 60%;
}

@keyframes imageReveal {
    from {
        filter: saturate(0) brightness(0.1) blur(5px);
        opacity: 0;
        scale: 0.95;
        translate: 0 100px;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

/* ------------- */

.slider {
    display: flex;
    width: 100%;
    height: 350px;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
    margin-top: 20px;
    align-items: center;
    margin-bottom: 90px !important;
}

.slider .group {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: calc(230px * 12);
    position: relative;
    height: 300px;
}

.slider .group .games {
    width: 230px;
    height: 300px;
    position: absolute;
    left: 100%;
    animation: slide 24s linear infinite;
    transition: all 0.3s ease;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes slide {
    from {
        left: 100%;
    }

    to {
        left: -230px;
    }
}

.slider .group .game1 {
    animation-delay: 0s;
}

.slider .group .game2 {
    animation-delay: 2s;
}

.slider .group .game3 {
    animation-delay: 4s;
}

.slider .group .game4 {
    animation-delay: 6s;
}

.slider .group .game5 {
    animation-delay: 8s;
}

.slider .group .game6 {
    animation-delay: 10s;
}

.slider .group .game7 {
    animation-delay: 12s;
}

.slider .group .game8 {
    animation-delay: 14s;
}

.slider .group .game9 {
    animation-delay: 16s;
}

.slider .group .game10 {
    animation-delay: 18s;
}

.slider .group .game11 {
    animation-delay: 20s;
}

.slider .group .game12 {
    animation-delay: 22s;
}

.slider .group:hover .games {
    animation-play-state: paused !important;
    filter: grayscale(1);
}

.slider .group .games:hover {
    filter: grayscale(0);
    transform: scale(1.05);
    box-shadow: 0 0 10px 5px rgba(31, 38, 135, 0.37);
    border: 2px solid #fff;
}

.games img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.games {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.games button {
    position: absolute;
    margin-top: 90%;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid #0072ff;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.slider .group .games:hover button {
    opacity: 1;
}

.games button:hover {
    background: #0072ff;
    box-shadow: 0 0 20px #0072ff;
}

.games button:active {
    background-color: #00397e;
}

.games a {
    position: absolute;
    margin-top: 70%;
    margin-left: 55%;
}

.games a button {
    width: 126px;
    height: 50px;
}

.dark-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.95) 0%,
            rgba(0, 0, 0, 0.5) 50%,
            transparent 90%);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.games:hover .dark-layer {
    opacity: 1;
}

/* ------------- */

.pplatform {
    width: 600px;
}

.platform {
    width: 590px;
    text-align: center;
}

.ppplatform {
    margin-bottom: 100px;
}

@media (max-width: 600px) {
    .pplatform {
        width: 350px;
    }

    .platform {
        width: 340px;
    }
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.box {
    width: 40vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    height: 300px;
    width: 300px;
    cursor: pointer;
}

.playstation,
.pc,
.nintendo,
.xbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.playstation img,
.pc img,
.nintendo img,
.xbox img {
    height: 150px;
    width: 150px;
    margin-bottom: 35px;
    margin-top: 20px;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(200%);
    transition: all 0.2s ease;
}

.pc img {
    filter: invert(100%) sepia(0%) saturate(0%) brightness(100%);
}

.xbox img {
    margin: 75px 0px 62px 0px;
    width: 260px;
    height: 80px;
}

.xbox:hover {
    box-shadow: 5px 5px 10px 0px #27ae60;
    transform: translateY(-5px) !important;
}

.xbox:hover img {
    filter: none;
}

.playstation:hover {
    box-shadow: 5px 5px 10px 0px #0984e3;
    transform: translateY(-5px);
}

.playstation:hover img {
    filter: none;
}

.pc:hover {
    box-shadow: 5px 5px 10px 0px #474787;
    transform: translateY(-5px);
}

.pc:hover img {
    filter: none;
}

.nintendo:hover {
    box-shadow: 5px 5px 10px 0px #e60012;
    transform: translateY(-5px);
}

.nintendo:hover img {
    filter: none;
}

.user-news {
    margin-bottom: 30px;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2);
}

.top-news {
    gap: 50px;
    padding: 20px 30px;
    border-radius: 20px;
    background: radial-gradient(circle, transparent, #000);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    width: 90%;
    box-shadow: var(--box-shadow);
}

.news-text h2 {
    font-size: 1.6rem;
    font-weight: bold;
}

.news-text {
    height: 100%;
    max-width: 550px;
}

.news-text a {
    color: #474787;
    transition: all 0.2s ease;
}

.news-text a:hover {
    color: #e60012;
}

.new-center {
    flex-direction: row;
}

.new-center img {
    box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.2);
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1px 0;
    margin-top: 50px;
}

.autoShow {
    animation: appear both;
    animation-timeline: view();
    animation-range: entry 0 cover 55%;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-news {
    animation: imageReveal both;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

@keyframes slide2 {
    from {
        left: 100%;
    }

    to {
        left: -180px;
    }
}

@media (max-width: 800px) {
    .top-news {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .news img {
        width: 90%;
        height: 40%;
        max-width: 400px;
        max-height: 250px;
    }

    .glass {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
    }

    .news-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider {
        display: flex;
        width: 100%;
        height: 300px;
    }

    .slider .group {
        min-width: calc(180px * 12);
    }

    .slider .group .games {
        width: 180px;
        height: 250px;
        animation: slide2 24s linear infinite;
    }

    .slider .group .game1 {
        animation-delay: 0s;
    }

    .slider .group .game2 {
        animation-delay: 2s;
    }

    .slider .group .game3 {
        animation-delay: 4s;
    }

    .slider .group .game4 {
        animation-delay: 6s;
    }

    .slider .group .game5 {
        animation-delay: 8s;
    }

    .slider .group .game6 {
        animation-delay: 10s;
    }

    .slider .group .game7 {
        animation-delay: 12s;
    }

    .slider .group .game8 {
        animation-delay: 14s;
    }

    .slider .group .game9 {
        animation-delay: 16s;
    }

    .slider .group .game10 {
        animation-delay: 18s;
    }

    .slider .group .game11 {
        animation-delay: 20s;
    }

    .slider .group .game12 {
        animation-delay: 22s;
    }
}

@media (max-width: 1000px) {
    .floating-cards-section {
        display: none;
    }

    .slider {
        margin-top: 90px;
    }
}

.container h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.container p {
    font-size: clamp(1rem, 2vw, 1.2rem);
}

@media (max-width: 500px) {
    * {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .rgb-text {
        font-size: 2.5rem;
    }
}